<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header"> 
        <div class="header__search">
            <form>   
                <input type="text" placeholder="Search" name="searchPanel" onkeyup="search(event)" autocomplete="off">
            </form>
        </div>
        <div class="header__logo">
            <img src="icons/Logotype.svg" alt="logo">
        </div>
    </header>

    <main class="promo">
        <div class="promo__menu">
            <nav class="promo__menu-list">
                <ul>
                    <li><a class="promo__menu-item promo__menu-item_active" id="whToWatch" href="/">What to Watch</a></li>
                    <li><a class="promo__menu-item" id="favorites" onclick="favorite(event)">Favorites</a></li>
                </ul>
            </nav>
        </div>
        <div class="promo__content">
            <div class="promo__bg">
                <div class="promo__genre">DRAMA</div>
                <div class="promo__title">The Martian</div>
                <div class="promo__descr">THE STORY OF A MAN SURVIVING ON ANOTHER PLANET ALONE</div>
            </div>
            <div class="promo__interactive" id="promoDiv">
                <div>
                    <div class="promo__interactive-title" id="promoTitle">MY WATCH LIST</div>
                    <ul class="promo__interactive-list">
                        <% myMovie.forEach(function(item) { %>
                            <% if(item.favorite == "on") { %>
                                <form action="/delete" method="POST">
                                    <li class="promo__interactive-item"> <%= item.title %>
                                        <button type="submit" value="<%= item._id %>" class="delete" name='deleteBtn'></button> 
                                        <span class="star"></span>
                                    </li>
                                </form>
                            <% } else{ %>
                                <form action="/delete" method="POST">
                                    <li class="promo__interactive-item"> <%= item.title %>
                                        <button type="submit" value="<%= item._id %>" class="delete" name='deleteBtn'></button> 
                                    </li>
                                </form>
                            <% } %>
                        <% }) %>                        
                    </ul>
                </div>
                <div>
                    <form class="add" action="/" method="POST" id="confirmForm">
                        <div class="promo__interactive-title">ADD NEW MOVIE</div>
                        <span>Enter the title of the movie</span>
                        <input class="adding__input" type="text" name="newMovie" placeholder="Movie title...?" autocomplete="off">
                        <span>Add to favorites?</span>
                        <input type="checkbox" name="checkBox">
                        <button type="submit" name="button">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        function search(e) {
            let search_input = e.target.value.toLowerCase();
            if(document.getElementById("whToWatch").classList.contains("promo__menu-item_active")){
                let search_items = document.querySelectorAll(".promo__interactive-list li");

                search_items.forEach(function(item){
                    if(item.textContent.toLowerCase().includes(search_input) == true){
                        item.closest("li").style.display = "block";
                    }
                    else{
                        item.closest("li").style.display = "none";
                    }
                })
            }
            else{
                let search_items_fav = document.querySelectorAll("#favList li");

                if(search_input.length>=1) {
                    search_items_fav.forEach(function(item){
                        if(item.textContent.toLowerCase().includes(search_input) == true){
                            item.closest("li").style.display = "block";
                        
                        }else{
                            item.closest("li").style.display = "none";
                        }
                    })
                }else{
                    favorite(event);
                }
            }   
        }

        function favorite(e){
            e.preventDefault();
            const whToWatch = document.getElementById("whToWatch");
            const favorites = document.getElementById("favorites");
            const deleteBtn = document.querySelectorAll(".delete");
            const confirmForm = document.getElementById("confirmForm");
            const promoTitle = document.getElementById("promoTitle");
            const promoList = document.querySelector(".promo__interactive-list");
            let promoLi = document.querySelectorAll(".promo__interactive-list li");
           
            whToWatch.classList.remove("promo__menu-item_active");
            favorites.classList.add("promo__menu-item_active");
            promoList.setAttribute("id","favList");
            confirmForm.style.display = "none";
            for (i = 0; i < deleteBtn.length; ++i) {
                deleteBtn[i].style.display = "none";
            }
            promoTitle.innerHTML = "FAVORITES";

            promoLi.forEach(function(item){
                if(item.childNodes.length>3){
                    item.closest("li").style.display = "block";
                }
                else{
                    item.closest("li").style.display = "none";
                }
            })
        }
    </script>
</body>
</html>